**/node_modules/
**/dist/
.env
client/.env.local
client/.env.development
client/.env
server/.env
client/.next/

.vscode/
.DS_Store

dynamodb_local

Thumbs.db

server/shared-local-instance.db
shared-local-instance.db
server/dynamodb-local-metadata.json
dynamodb-local-metadata.json